@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Ubuntu:ital,wght@0,400;1,300&display=swap');
:root {
    /*p for primary, s for secondary, t for tertiary*/
    --black:#0C1618;
    --green: #004643;
    --cream: #FDFBED;
    --blue:#429EA6;
    --orange: #FF784F;
  }
  * {
    box-sizing: border-box;
   }
   *:before,
   *:after {
    box-sizing: border-box;
   }
   html,
   body {
    height: 100%;
    position: relative;
   }
   .main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px; /* height of your footer */
   }
   footer {
    position: absolute;
    bottom: 0;
    width: 100%;
   }

.card
{
    background-color: #fff9ec;
    border: 1px solid var(--green);
}
.card-header
{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 25px;
}
.card-body
{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 17px;
}
.navbar
{
    background-color: var(--green)!important
}
.nav-link
{
    color: white!important;
}
.fa-star
{
    color: var(--orange)
}
.filter
{
    color: grey;
    opacity: 0.9;
}
.nav-link
{
    color: white
}
.mininav
{
    color:var(--black)!important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active
{
    border-color:var(--orange)!important
}
.fa-camera
{
    color:var(--green);
    position: fixed;
    bottom: 120px;
    left: 40px;
    z-index: 1;
}

.edit
{
    background-color: var(--blue)!important;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color: white!important;
    border-radius: 5%;
}
.delete
{
    background-color: var(--orange)!important;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    border-radius: 5%;
}
.share
{
    background-color: var(--black)!important;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    border-radius: 5%;
}
.shared
{
    background-color: var(--green)!important;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    border-radius: 5%;
}
.search
{
    background-color: var(--blue)!important;
    font-family: 'Ubuntu', sans-serif;
}
.goalbutton
{ 
    background-color: var(--black)!important;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    border-radius: 5%;
    position: fixed;
    bottom: 70px;
    left: 20px;
    z-index: 1;
}
.small-heading
{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

.modal-header
{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 25px;
}
input[type="text"]
{
    font-family: 'Ubuntu', sans-serif!important;
    font-weight: 300!important;
}
textarea
{
    font-family: 'Ubuntu', sans-serif!important;
    font-weight: 300!important;
}
select { 
    font-family: 'Ubuntu', sans-serif!important;
    font-weight: 300!important;
}
.workoutcard
{
    height: 400px;
}
.card-text
{
    font-family: 'Ubuntu', sans-serif!important;
    font-weight: 300!important;
    font-size: 20px;
}
h3
{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;

}