@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Ubuntu:ital,wght@0,400;1,300&display=swap');
:root {
    /*p for primary, s for secondary, t for tertiary*/
    --black:#0C1618;
    --green: #004643;
    --cream: #FDFBED;
    --blue:#429EA6;
    --orange: #FF784F;
  }
  * {
    box-sizing: border-box;
   }
   *:before,
   *:after {
    box-sizing: border-box;
   }
   html,
   body {
    height: 100%;
    position: relative;
   }
   .main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px; /* height of your footer */
   }
   footer {
    position: absolute;
    bottom: 0;
    width: 100%;
   }

.card
{
    background-color: #fff9ec;
    border: 1px solid var(--green);
}
.card-header
{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 25px;
}
.card-body
{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 17px;
}
.navbar
{
    background-color: var(--green)!important
}
.nav-link
{
    color: white!important;
}
.fa-star
{
    color: var(--orange)
}
.filter
{
    color: grey;
    opacity: 0.9;
}
.nav-link
{
    color: white
}
.mininav
{
    color:var(--black)!important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active
{
    border-color:var(--orange)!important
}
