{% extends "base.html" %}
{% block content%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
        <img
          src=""
          height="15"
          alt=""
          loading="lazy"
        />
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('workouts',username=username)}}">My Workouts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('sharedworkouts',username=username)}}">All Workouts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Projects</a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Avatar -->
      <a
        class="dropdown-toggle d-flex align-items-center hidden-arrow"
        href="#"
        id="navbarDropdownMenuLink"
        role="button"
        data-mdb-toggle="dropdown"
        aria-expanded="false"
      >
      {% if files|length %}
      {% for file in files %}
      <img
        src="{{url_for('file', filename=file.profile_image_name)}}"
        class="rounded-circle"
        height="25"
        alt=""
        loading="lazy"
      />
      {% endfor %}
    
{% else %}
<img
src="https://via.placeholder.com/150"
class="rounded-circle"
height="25"
alt=""
loading="lazy"
/>
{% endif %}
     
      </a>
      <ul
        class="dropdown-menu dropdown-menu-end"
        aria-labelledby="navbarDropdownMenuLink"
      >
        <li>
          <a class="dropdown-item" href="#">My profile</a>
        </li>
        <li>
          <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
        </li>
      </ul>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
{% if files|length %}
{% for file in files %}
<img src="{{url_for('file', filename=file.profile_image_name)}}"  height="200"  class="rounded-circle my-5">
{% endfor %}
{% else %}
<img src="https://via.placeholder.com/150"  height="200"  class="rounded-circle my-5">
{% endif %}
<div class="card">
  <h1> {{ username }}</h1>
    <form  method="POST" action="{{ url_for('upload', username=session['user']) }}" enctype="multipart/form-data">
        <input type="hidden" name="id" value=" {{ username }}">
        <input type="file" class="d-inline" name="profile_image">
        <input type="submit" name="submit" class="btn primary-button d-inline">
    </form>
</div>
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small>3 days ago</small>
    </div>
    <p class="mb-1">
      Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
      varius blandit.
    </p>
    <small>Donec id elit non mi porta.</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">
      Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
      varius blandit.
    </p>
    <small class="text-muted">Donec id elit non mi porta.</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">
      Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
      varius blandit.
    </p>
    <small class="text-muted">Donec id elit non mi porta.</small>
  </a>
</div>
{% endblock %}