{% extends "base.html" %}
{% block content%}
<div class="main-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('homeloggedin',username=username)}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('workouts',username=username)}}">My Workouts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('sharedworkouts',username=username)}}">All Workouts</a>
          </li>
        </ul>
      </div>
      <div class="d-flex align-items-center">
        <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
          {% if files|length %}
          {% for file in files %}
          {%if file.id==username%}
          <img src="{{url_for('filed', filename=file.profile_image_name)}}" class="rounded-circle" height="25" alt="" loading="lazy" />
          {% endif %}
          {% endfor %}
          {% else %}
          <img src="https://via.placeholder.com/150" class="rounded-circle" height="25" alt="" loading="lazy" />
          {% endif %}
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
          <li>
            <a class="dropdown-item" href="{{ url_for('profile',username=username) }}">My profile</a>
          </li>
          <li>
            <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="row wrapper">
    <ul class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active mininav" id="home-tab" data-toggle="tab" href="{{url_for('sharedworkouts',username=username)}}" role="tab" aria-controls="home" aria-selected="true">All Workouts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  mininav " id="profile-tab" data-toggle="tab" href="{{ url_for('savedsharedworkouts',username=username) }}" role="tab" aria-controls="profile" aria-selected="false">Saved Workouts</a>
      </li>
    </ul>
    <div class="col-lg-12 d-flex justify-content-center my-5">
      <h3>Search for Workout:</h3>
      <form class="form-inline" action="{{ url_for('sharedsearch',username=username) }}" method="POST">
        <div class="input-group">
          <div class="form-outline">
            <input id="search-input" type="search" name="query" id="query" class="form-control" />
            <label class="form-label" for="form1">Workout Title</label>
          </div>
          <button id="search-button" type="submit" class="btn btn-primary search">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </form>
    </div>
    {% for workout in workouts %}
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 my-3">
      <div class="card text-center workoutcard">
        <div class="card-header">{{workout.Title}}</div>
        <div class="card-body">
          <h5>Created by: {{workout.user}}</h5>
          {% for file in files %}
          {% if file.id==workout.user %}
          <img src="{{url_for('filed', filename=file.profile_image_name)}}" class="rounded-circle" height="50" width="50" alt="" loading="lazy" />
          {% endif %}
          {% endfor %}
          <div>
            {% if workout.Difficulty == "Five" %}
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
            {% elif workout.Difficulty == "Four" %}
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
            {% elif workout.Difficulty == "Three" %}
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
            {% elif workout.Difficulty == "Two" %}
            <i class="fas fa-star"></i><i class="fas fa-star"></i>
            {% else %}
            <i class="fas fa-star"></i>
            {% endif %}
          </div>
          <p class="card-text">
            {{workout.Routine}}
          </p>
          {% if username == workout.user %}
          <a href="{{ url_for('editSharedworkout', username=username, workout_id=workout._id) }}" class="btn btn-primary edit">Edit</a>
          <a href="{{ url_for('deleteSharedworkout', username=username, workout_id=workout._id) }}" class="btn btn-danger delete">Delete</a>
          {% elif username in workout.Savedby %}
          <a href="#" class="btn btn-danger shared">Saved!</a>
          {% else %}
          <a href="{{ url_for('saveSharedworkout', username=username, workout_id=workout._id) }}" class="btn btn-danger shared">Save</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <button type="button" class="btn btn-primary goalbutton" data-mdb-toggle="modal" data-mdb-target="#taticBackdrop">
    New Workout
  </button>
  <div class="row">
    <div class="col-lg-12">
      <br><br>
      <footer class="bg-light text-center text-white">
        <div class="container p-4 pb-0">
          <section class="mb-4">
            <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;" href="https://www.facebook.com/" role="button" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee;" href="https://twitter.com/" role="button" target="_blank"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39;" href="https://google.com/" role="button" target="_blank"><i class="fab fa-google"></i></a>
            <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac;" href="https://www.instagram.com/" role="button" target="_blank"><i class="fab fa-instagram"></i></a>
            <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca;" href="https://www.linkedin.com/" role="button" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a class="btn btn-primary btn-floating m-1" style="background-color: #333333;" href="https://github.com/" role="button" target="_blank"><i class="fab fa-github"></i></a>
          </section>
        </div>
        <div class="text-center p-3" style="background-color: var(--green);">
          © 2020 Copyright:
          <a class="text-white">KeepingFit</a>
        </div>
      </footer>
    </div>
  </div>
  <div class="modal fade" id="taticBackdrop" data-mdb-backdrop="static" data-mdb-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Create New Workout</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="new_patient" method="POST" action="{{url_for('addsharedworkout',username=username)}}">
            <div class="form-group">
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <h5 class="small-heading">Title of Workout</h5>
                  <input type="text" name="Title" class="form-control mb-4" required>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <h5 class="small-heading">Workout Details</h5>
                  <div class="form-outline">
                    <textarea class="form-control" name="Routine" rows="4"></textarea>
                  </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <h5 class="small-heading">Difficutly</h5>
                  <select class="form-select" id="Difficulty" name="Difficulty">
                    <option selected>One</option>
                    <option value="Two">Two</option>
                    <option value="Three">Three</option>
                    <option value="Four">Four</option>
                    <option value="Five">Five</option>
                  </select>
                </div>
                <div class="d-flex justify-content-between mt-3">
                  <button type="submit" class="btn btn-primary btn-rounded edit">Save</button>
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
