{% extends "base.html" %}
{% block content%}
<div class="main-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('homeloggedin',username=username)}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('workouts',username=username)}}">My Workouts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('sharedworkouts',username=username)}}">All Workouts</a>
          </li>
        </ul>
      </div>
      <div class="d-flex align-items-center">
        <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
          {% if files|length %}
          {% for file in files %}
          {%if file.id==username%}
          <img src="{{url_for('filed', filename=file.profile_image_name)}}" class="rounded-circle" height="25" alt="" loading="lazy" />
          {% endif %}
          {% endfor %}
          {% else %}
          <img src="https://via.placeholder.com/150" class="rounded-circle" height="25" alt="" loading="lazy" />
          {% endif %}
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
          <li>
            <a class="dropdown-item" href="{{ url_for('profile',username=username) }}">My profile</a>
          </li>
          <li>
            <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      {% if files|length %}
      {% for file in files %}
      <img src="{{url_for('filed', filename=file.profile_image_name)}}" height="200" width="200" class="rounded-circle my-5">
      {% endfor %}
      {% else %}
      <img src="https://via.placeholder.com/150" height="200" width="200" class="rounded-circle my-5">
      {% endif %}
    </div>
    <div class="col-lg-12 mx-5">
      <h1><a href="{{url_for('editprofilepictureinprogress', username=username)}}"><i class="fas fa-camera"></i></a></h1>
    </div>
    <div class="col-lg-12">
      <ul class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link  mininav" id="home-tab" data-toggle="tab" href="{{ url_for('profile',username=username) }}" role="tab" aria-controls="home" aria-selected="true">All Goals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mininav" id="profile-tab" data-toggle="tab" href="{{ url_for('profilecompleted',username=username) }}" role="tab" aria-controls="profile" aria-selected="false">Completed</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link active mininav" id="contact-tab" data-toggle="tab" href="{{ url_for('profileinprogress',username=username) }}" role="tab" aria-controls="contact" aria-selected="false">In Progress</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <button type="button" class="btn btn-primary mx-3 goalbutton"  data-mdb-toggle="modal" data-mdb-target="#exampleModal">
          Add Goal
        </button>
        {% for goal in goals %}
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 offset-lg-2 offset-md-2">
          <div class="card my-3">
            <div class="card-header">
              {{goal.Title}}
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>{{goal.Details}}</p>
              </blockquote>
            </div>
            <div class="col-lg-12 d-flex justify-content-center ">
              <a href="{{ url_for('editgoalinprogress', username=username, goal_id=goal._id) }}" class="btn btn-primary mx-3 my-3 edit">Edit</a>
              <a href="{{ url_for('deletegoalinprogress', username=username, goal_id=goal._id) }}" class="btn btn-danger my-3 delete">Delete</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <br><br>
      <footer class="bg-light text-center text-white">
        <div class="container p-4 pb-0">
          <section class="mb-4">
            <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;" href="https://www.facebook.com/" role="button" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee;" href="https://twitter.com/" role="button" target="_blank"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39;" href="https://google.com/" role="button" target="_blank"><i class="fab fa-google"></i></a>
            <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac;" href="https://www.instagram.com/" role="button" target="_blank"><i class="fab fa-instagram"></i></a>
            <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca;" href="https://www.linkedin.com/" role="button" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a class="btn btn-primary btn-floating m-1" style="background-color: #333333;" href="https://github.com/" role="button" target="_blank"><i class="fab fa-github"></i></a>
          </section>
        </div>
        <div class="text-center p-3" style="background-color: var(--green);">
          © 2020 Copyright:
          <a class="text-white">KeepingFit</a>
        </div>
      </footer>
    </div>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Goal</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="new_patient" method="POST" action="{{url_for('addgoal',username=username)}}">
            <div class="form-group">
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <h5 class="small-heading">Goal Title</h5>
                  <input type="text" name="Title" class="form-control mb-4" required>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <h5 class="small-heading">Goal Details</h5>
                  <div class="form-outline">
                    <textarea class="form-control" name="Details" rows="4"></textarea>
                  </div>
                </div>
                <div class="d-flex justify-content-between mt-3">
                  <button type="submit" class="btn btn-primary btn-rounded edit">Save</button>
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="staticBackdrop" data-mdb-backdrop="static" data-mdb-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Edit Goal</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="new_patient" method="POST" action="{{ url_for('updategoalinprogress', username=username, goal_id=edit._id) }}">
          <div class="form-group">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <h5 class="small-heading">Title of Goal</h5>
                <input type="text" name="Title" value="{{edit.Title}}" class="form-control mb-4" required>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12">
                <h5 class="small-heading">Description of Goal</h5>
                <div class="form-outline">
                  <textarea class="form-control" name="Details" rows="4" placeholder="{{edit.Details}}" value="{{edit.Details}}"></textarea>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12">
                <h5 class="small-heading">Status</h5>
                <select class="form-select" id="Completed" name="Completed">
                  <option hidden selected>{{edit.Completed}}</option>
                  <option value="Complete">Complete</option>
                  <option value="Incomplete">Incomplete</option>
                </select>
              </div>
              <div class="d-flex justify-content-between mt-3">
                <button type="submit" class="btn btn-primary btn-rounded edit">Save</button>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
